version: '3.9'
services:
  codeCommentRemoverUi:
    image: 'mindde/code_comment_remover-ui:v0.0.1'
    ports:
      - '3000:3000' # main entry to the App
    # container_name: 'codeCommentRemoverUi'
  jsParserSub:
    image: 'mindde/jsparsersub:v0.0.1'
    ports:
      - '127.0.0.1:14080:14080'
    # container_name: 'jsParserSub'
  javaParserSub:
    image: 'mindde/javaparsersub:v0.0.1'
    ports:
      - '127.0.0.1:18082:18082'
    # container_name: 'javaParserSub'
  watchtower:
    # image: 'containrrr/watchtower:arm64v8-1.7.1'
    image: 'containrrr/watchtower@sha256:f9086bfda061100361fc2bacf069585678d760d705cf390918ccdbda8a00980b' # https://hub.docker.com/layers/containrrr/watchtower/amd64-1.7.1/images/sha256-f9086bfda061100361fc2bacf069585678d760d705cf390918ccdbda8a00980b?context=explore
    command: '--schedule "0 0 4 * * *" --http-api-update --cleanup'
    environment:
      - WATCHTOWER_HTTP_API_TOKEN=tokenVal_WATCHTOWER_HTTP_API_TOKEN_toBeSentFromJenkins
      # DOCKER_HOST=unix:///var/run/docker.sock
      # WATCHTOWER_SCHEDULE=0 0 4 * * * # aga quote pb dk
      # WATCHTOWER_HTTP_API_UPDATE=true
      # WATCHTOWER_LABEL_ENABLE=true
      # WATCHTOWER_SCOPE=thisScope
      # WATCHTOWER_DISABLE_CONTAINERS= , , ,
      # WATCHTOWER_INCLUDE_STOPPED=false
      # WATCHTOWER_REVIVE_STOPPED=false
      # WATCHTOWER_REMOVE_VOLUMES=false?
      # --health-check
      # WATCHTOWER_DEBUG=true
      # WATCHTOWER_LOG_LEVEL=info
      # WATCHTOWER_HTTP_API_METRICS=true
      # https://containrrr.dev/watchtower/arguments/
    # labels:
    #   - "com.centurylinklabs.watchtower.enable=false"
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
    restart: 'unless-stopped' # aga need better policy -- dont bindly restart - but need start up at system boot
    # // TODO restart docker or not (ec2 restart; jenkins restart; dk other cases too)
    # @que: docker-compose up twice seems multi create
    ports:
      - '8686:8080' # call watchtower to pull new docker image
    container_name: 'watchtower'
